@using System.ComponentModel
@using Umbraco9_Blazor.Services
@inject IRazorPublishEventService PublishEventService

<div>
    @foreach (var publishEvent in PublishEventService.PublishEventList)
    {
        <p>@publishEvent.PublishDate : @publishEvent.ModelAlias</p>
    }      
</div>

@code {
    protected override void OnInitialized()
    {
        PublishEventService.PropertyChanged += PropertyHasChanged;
    }

    private void PropertyHasChanged(object sender, PropertyChangedEventArgs args)
    {
#pragma warning disable 4014
        InvokeAsyncState();
#pragma warning restore 4014
    }

    private async Task InvokeAsyncState()
    {
        await InvokeAsync(StateHasChanged);
    }

}